@mixin z-index1 {  // 背景效果显示层级
  z-index: 10001 !important;
}
@mixin z-index2 { // 后台管理 主要区域显示层级
  z-index: 10002 !important;
}
@mixin z-index3 { //头部区域显示层级
  z-index: 10003 !important;
}
@mixin z-index4 { // 弹出提示框显示等级
  z-index: 10004 !important;
}
@mixin z-index5 { //articles下拉框显示等级
  z-index: 10005 !important;
}

$color-main: #409EFF;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

$text-main: #303133;
$text-normal: #606266;
$text-minor: #909399;  //次要文字
$text-placeholder: #C0C4CC;
$text-333: #333;

$border-first: #DCDFE6;
$border-second: #E4E7ED;
$border-third: #EBEEF5;
$border-fourth: #F2F6FC;

$content-bg-color: #fff
